.main-menu a{
  color: white; 
}


.dropdown-menu a {
  background-color: black;
  color:  #fec400;
}
.dropdown a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown a:hover {
    background-color: none;
}

.main-menu a:hover, .main-menu a.active {
  color: #fec400;
